.*
!.gitignore
.idea/

# assignment 1
assignment1/cs231n/datasets/
!assignment1/cs231n/datasets/get_datasets.sh

# assignment 2
assignment2/cs231n/datasets/
!assignment2/cs231n/datasets/get_datasets.sh
assignment2/cs231n/im2col_cython.c
assignment2/cs231n/im2col_cython.cpython-38-x86_64-linux-gnu.so
assignment2/cs231n/build/

# assignment 3
assignment3/cs231n/datasets/imagenet_val_25.npz
assignment3/cs231n/datasets/squeezenet.ckpt.data-00000-of-00001
assignment3/cs231n/datasets/squeezenet.ckpt.index
assignment3/cs231n/datasets/coco_captioning
assignment3/cs231n/datasets/MNIST_data